.top {
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    height: 100px;
    text-align: center;
}

.top h1 {
    color: white;
}

label {
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

#search-tools h2 {
    color: white;   
}

header section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

form {
    grid-column: 2/6;
}

main {
    grid-column: 2/5;
}

aside {
    margin-left: 14px;
}

aside p {
    text-indent:20%;
}

#today {
    grid-column: 2/3;
}

.display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.placeholder {

    background-image: url(https://res.allmacwallpaper.com/pic/Thumbnails/18983_728.jpg);
    grid-column: 1/4;
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}

.mainLoginInput::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
  }

div {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    margin-left: 10px;
}

div section {
    display: inline-block;
    text-align: center;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

#weather-data-div {
    border: 3px solid black;
    border-radius: 15px;
    grid-column: 1/4;
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}



h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif; 
    font-size: 10px;
}
.asideHeight {
    height: 235px;
}

.recent-search-item {
    display: inline-block;
}